body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; /* Cor de fundo mais suave */    
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    box-sizing: border-box;
    cursor: pointer;
}

input[type="text"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    box-sizing: border-box;
}

.digimon-container {
    display: flex;
    flex-wrap: wrap;
}

.digimon-container ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.digimon-container li {
    flex: 1 0 21%;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    background-color: #fafafa; ;
    box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.digimon-card img {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

.digimon-card p {
    margin: 0;
    font-size: 14px;
    color: #333; /* Cor de texto mais escura */
}

.details {
    margin-top: 10px;
}

.rookie {
    background-color: #d0e1ff; /* Azul mais suave */
}

.Training{
    background-color: #173f06; /* Verde Escuro*/
}

.champion {
    background-color: #ffd0d0; /* Vermelho mais suave */
}

.Armor {
    background-color: #ea92ea; /* Rosa mais suave */
}

.ultimate {
    background-color: #d0ffd6; /* Verde mais suave */
}

.mega {
    background-color: #fff6d0; /* Amarelo mais suave */
}

.fresh {
    background-color: #ffd0b3; /* Laranja mais suave */
}

.in-training {
    background-color: #b3d4ff; /* Azul mais suave */
}